run = "streamlit run app.py --server.port 8080 --server.address 0.0.0.0 --server.headless true"
entrypoint = "app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["streamlit", "run", "app.py", "--server.port", "8080", "--server.address", "0.0.0.0", "--server.headless", "true"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
